@media screen and (max-width: 1200px) {}


@media screen and (max-width: 986px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 480px) {
    .title-header {
        font-size: 1rem;
    }

    .content {
        font-size: 1rem;
        height: 70px;
        display: none;
    }

    .content__container__list {
        padding-left: 75px;
    }

    .cover-table {
        grid-template-columns: repeat(1, 1fr);

    }

    .content__container__list__item {
        line-height: 26px;
    }

    .content__container:after,
    .content__container:before {
        line-height: 26px;
    }

    .table {
        width: 100%;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    button:before {
        display: none;
    }

    button:after {
        display: none;
    }

    body {
        background-image: none;
    }

    .cover-button {
        display: grid !important;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .title-header {
        padding: 8px;
    }

    .cover-button {
        margin-top: 30px;
    }

    .nav-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    .nav-header i {
        font-size: 1.7rem;
        color: rgb(247, 232, 121);
        padding: 3px;
        border: 1px solid yellow;
        border-radius: 4px;
    }

    .nav-header img {
        width: 50px;
        height: 50px;
    }

    .table-modal {
        display: none;
        position: relative;
        text-align: end;
        height: 100%;
        width: 100%;


    }

    .table-modal.active {
        display: block;
    }

    .table-modal {
        border: 1px solid yellow;
        display: none;
        padding: 6px 10px;
        background: rgb(33, 32, 13);
        font-size: .8rem;
        color: rgb(250, 249, 249);

        width: 150px;
        height: 200px;
        text-align: left;
        position: absolute;
        right: 10px;
    }

    .table-modal div {
        padding: 6px 10px;
        right: 0;

        display: flex;
        align-items: center;
        border-bottom: 1px solid yellow;
    }

    .table-modal div:nth-child(5) {
        border-bottom: none;
    }

    .table-modal div i {
        margin-right: 10px;
        font-size: 1rem;
        color: rgb(95, 230, 111);
    }

    .table-modal div nav {
        text-align: left;
    }

    .cover-popup-header {
        display: none;
        width: 100%;
        background: url(https://png.pngtree.com/background/20210716/original/pngtree-red-blue-neon-background-picture-image_1343840.jpg);
        background-position: center;
        background-size: cover;
        object-fit: cover;
        animation: gradient 15s ease infinite;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        height: 100%;
        overflow-y: scroll;
    }

    .cover-popup-header::-webkit-scrollbar {
        display: none;
    }

    .cover-popup-header.active {
        display: block;
    }

    .popup-modal-header {
        position: absolute;
        left: 0;
        width: 90%;
        background-color: rgb(247, 248, 245);
        margin-top: 100%;
        margin-left: 50%;
        transform: translate(-50%, -50%);
    }

    table {
        border-collapse: collapse;
        width: 100%;
        font-family: var(--fonts-primary);
    }

    th,
    td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
        font-size: 1rem;
    }

    th {
        background-color: #d76464;
        color: black;
        text-align: center;
        font-family: var(--fonts-primary);
    }

    .cover-popup-header i ,.cover-popup-note i{
        right: 0;
        text-align: end;
        margin-right: 10px;
        font-size: 2rem;
        color: white;
        padding: 6px 6px;
        background: red;
        justify-content: flex-end;
        position: absolute;
        top: 10px;
        border-radius: 2px;
    }


    .flex-button button {
        padding: 8px;
        font-weight: 300;
    }

    .order h2,
    .order tr,
    td,
    th {
        font-size: .8rem;
        color: white;
    }

    body {
        background-image: url("https://i.pinimg.com/736x/a5/6d/e1/a56de1f48b042127a16397682a1997e1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .drink input {
        font-size: .8rem;
    }

    .are-one {
        text-align: center;
    }

    .are-one button {
        font-size: .9rem;
        padding: 10px 20px;
        background-color: #e73c7e;
        color: white;
        border: 1px solid rgb(210, 53, 14);
        margin-top: 50px;
        cursor: pointer;
        border-radius: 4px;
    }

    #image-container {
        margin: 10px 0;
    }

    #image-container img {
        width: 100%;
        height: 100%;
        border: 2px solid rgb(230, 243, 88);
        border-radius: 3px;
    }

    .table-price {
        border: 1px solid black;
        /* background: url(https://c4.wallpaperflare.com/wallpaper/482/58/519/leaves-plants-neon-hd-wallpaper-preview.jpg); */
        background-position: center;
        background-size: cover;
        background: black;

    }

    .title-product-popup {
        color: orange;
        text-align: center;
    }

    td,
    th {
        border: 1px solid rgb(246, 243, 243);
    }

    .drink-water-add {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .drink-water-add input {
        border: 1px solid rgb(11, 212, 212);
        border-radius: 2px;
        padding: 4px 8px;
        margin: 10px;
        outline: none;
        font-size: .8rem;
        color: white;
    }

    .drink-water-add label {
        color: wheat;
        font-size: .8rem;
    }

    .drink-water-add button {
        border: 1px solid aquamarine;
        color: white;
        border-radius: 2px;
        font-weight: 300;
        font-size: .8rem;
        padding: 6px 8px;
    }

    .cover-popup-payment {
        background: url(https://watermark.lovepik.com/photo/40115/1049.jpg_wh1200.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        padding: 20px;
        display: none;
        margin: -100%;
        transition: .5s;
    }

    .cover-popup-payment.active {
        display: block;
        margin: 0;
    }

    .popup-modal-payment {
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .number-items-payment {
        display: flex;
        justify-content: space-between;
        align-self: center;
    }

    .close-btn-payment {
        position: absolute;
        right: 10px;
        padding: 9px;
        font-size: 1.4rem;
        color: white;
        background-color: red;
        top: 10px;
        border-radius: 3px;
        z-index: 2;
    }

    #div1 {
        margin-top: 20px;
    }

    #div1 h2 {
        font-size: 1.1rem;
        font-weight: 300;
        padding: 4px 10px;
        border: 1px solid #0aabba;
        font-family: var(--fonts-primary);
        display: inline-block;
        border-radius: 4px;
        color: white;
    }

    #div2 h2 {
        font-size: 1.1rem;
        font-weight: 300;
        padding: 4px 10px;
        border: 1px solid #b70aba;
        font-family: var(--fonts-primary);
        display: inline-block;
        border-radius: 4px;
        color: white;
        margin-top: 10px;
    }

    #div2 label {
        color: rgb(219, 230, 15);
        font-family: var(--fonts-primary);
        font-size: .9rem;
    }

    #div3 h2 {
        font-size: 1.1rem;
        font-weight: 300;
        padding: 4px 10px;
        border: 1px solid #d60419;
        font-family: var(--fonts-primary);
        display: inline-block;
        border-radius: 4px;
        color: white;
    }

    #div3 label {
        color: rgb(209, 124, 67);
        font-family: var(--fonts-primary);
        font-size: .9rem;
    }

    #div1 label {
        color: rgb(15, 230, 65);
        font-family: var(--fonts-primary);
        font-size: .9rem;
    }

    .number-items-payment {
        margin: 10px 0;
        display: flex;
        align-items: center;
    }

    .number-items-payment input {
        outline: none;
        border: 1px solid rgb(11, 212, 212);
        background: none;
        padding: 5px 10px;
        font-size: .8rem;
        color: white;
        border-radius: 2px;
        background: black;
    }

    #nuoc-kho-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    #nuoc-kho-container .cover-nuoc-item {
        font-size: .8rem !important;
        color: rgb(247, 244, 244) !important;
        font-weight: 300;
        padding: 5px 10px;
        background: rgb(4, 126, 29);
        margin: 7px;
        border-radius: 4px;
        display: flex;
        align-items: center;
    }

    #nuoc-nhap-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    #nuoc-nhap-container .cover-nuoc-item {
        font-size: .8rem !important;
        color: rgb(2, 2, 2) !important;
        font-weight: 300;
        padding: 5px 10px;
        background: rgb(234, 228, 48);
        margin: 7px;
        border-radius: 4px;
        display: flex;
        align-items: center;
    }

    #nuoc-xuat-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    #nuoc-xuat-container .cover-nuoc-item {
        font-size: .8rem !important;
        color: rgb(251, 247, 247) !important;
        font-weight: 300;
        padding: 5px 10px;
        background: rgb(241, 101, 41);
        margin: 7px;
        border-radius: 4px;
        display: flex;
        align-items: center;
    }

    .delete-nuoc-kho {
        font-size: .8rem !important;
        color: rgb(247, 244, 244) !important;
        font-weight: 300;
        padding: 10px 10px;
        background: rgb(17, 122, 36);
        margin: 7px;
        border-radius: 4px;
        display: flex;
        align-items: center;
    }

    .delete-nuoc-nhap {
        font-size: .8rem !important;
        color: black !important;
        font-weight: 300;
        padding: 10px 10px;
        background: rgb(228, 214, 27) !important;
        margin: 7px;
        border-radius: 4px;
        display: block;

    }

    .delete-nuoc-xuat {
        font-size: .8rem !important;
        color: rgb(246, 244, 244) !important;
        font-weight: 300;
        padding: 10px 10px;
        background: #ed5b17 !important;
        margin: 7px;
        border-radius: 4px;
        display: block;

    }

    .table-modal {
        border-radius: 4px;
    }

    .cover-table-B {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .same-table {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        left: 0;
        top: 0;
        overflow-x: hidden;
        padding: 10px 20px;
        z-index: 3;
        background-image: url(https://4kwallpapers.com/images/wallpapers/outrun-neon-dark-background-purple-2560x1440-4523.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        transition: .2s;
        margin-top: 200%;
    }

    .cover-button-khuB.active {
        margin-top: 0;
        display: block;
    }

    .cover-table-B1.active {
        margin-top: 0;
        display: block;
    }

    .cover-table-B2.active {
        margin-top: 0;
        display: block;
    }

    .cover-table-B3.active {
        margin-top: 0;
        display: block;
    }

    .cover-table-B4.active {
        margin-top: 0;
        display: block;
    }

    .cover-table-B5.active {
        margin-top: 0;
        display: block;
    }

    .cover-button-khuC.active {
        margin-top: 0;
        display: block;
    }

    .cover-table-C1.active {
        margin-top: 0;
        display: block;
    }

    .cover-table-C2.active {
        margin-top: 0;
        display: block;
    }

    .cover-table-C3.active {
        margin-top: 0;
        display: block;
    }

    .cover-table-C4.active {
        margin-top: 0;
        display: block;
    }

    .cover-table-C5.active {
        margin-top: 0;
        display: block;
    }

    .cover-button-khuE.active,
    .cover-table-E1.active,
    .cover-table-E2.active {
        margin-top: 0;
        display: block;
    }

    .cover-button-khuD.active {
        margin-top: 0;
        display: block;
    }

    .cover-button-khuF.active,
    .cover-table-F1.active {
        margin-top: 0;
        display: block;
    }

    .cover-button-khuG.active,
    .cover-table-G1.active,
    .cover-table-G2.active,
    .cover-table-G3.active {
        margin-top: 0;
        display: block;
    }

    .cover-table.active {
        margin-top: 0;
        display: block;
    }

    .same-close-table {
        font-size: 1.4rem;
        right: 20px;
        position: absolute;
        margin-top: 4px;
        padding: 5px;
        border-radius: 4px;
        background: red;
        color: white;

    }

    .not-pay-price {
        padding: 10px;
        text-align: center;
        margin-top: 20px;
        justify-content: center;
        margin-left: 50%;
        transform: translateX(-50%);
        width: 100%;
        border-radius: 4px;
        background: #f4e459;
        color: #000;
        text-transform: capitalize;
        font-size: 1rem;

    }

    .open-not-price {
        width: 100%;
        height: 100%;
        padding: 20px;
        position: fixed;
        background: url(https://wallpapercave.com/wp/wp9002574.jpg);
        background-position: center;
        background-size: cover;
        top: 0;
        left: 0;
        display: none;

    }

    .open-not-price.active {
        display: block;
    }

    .open-not-price h1 {
        margin: 40px 0 0 0;
        color: yellow;
        font-size: 1rem;
        text-align: center;
        padding: 10px 0;
        text-transform: capitalize;
        border-bottom: 1px solid yellow;

    }

    .open-not-price p {
        color: rgb(239, 74, 74);
        font-size: .9rem;
        margin: 10px;
    }

    .cover-popup-note {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background: url('https://wallpapers-clan.com/wp-content/uploads/2023/02/galaxy-aesthetic-wallpaper.jpg');
        z-index: 10;
    }
    .cover-popup-note.active{
        display:block;
    }
    #noteList p{
        font-size: 1rem;
        color: yellow;
    }

    .note-list-items {
        padding: 10px;
        margin-top: 40px;
    }

    .note-list-items h1 {
        text-align: center;
        font-weight: 300;
        color: greenyellow;
        font-size: 1rem;
    }

    .note-container {
        border-radius: 6px;

    }

    #addNoteBtn {
        padding: 6px 12px;
        font-weight: 300;
        background: rgb(15, 117, 158);
        font-size: .9rem;
        color: white;
    }

    .clock {
        color: #effe17;
        font-size: 1rem;
        font-weight: 300;
        margin-top: 10px;
    }
    .note{
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
    .note input{
        padding: 5px 8px;
        outline: none;
        font-size: .8rem;
        width: 60%;
      
    }
    .note button{
        padding: 9px 13px !important;
        margin-left: 10px;
        font-size: .8rem !important;
    }
}